events {}

http {
    upstream backend {
        server __UPSTREAM__:8080;
    }

    server {
        listen 80;

        location / {
            proxy_connect_timeout 1s;
            proxy_read_timeout 1s;
            proxy_pass http://backend;
        }
    }
}
